/* RÖR INTE DETTA */
header
{    
display: grid; 
grid-template-columns: 1fr; 
background-color: lightgray;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: xx-large;
height: 100vh;
max-height: 100px;
}
.header-box
{
padding: 20px;
}

nav
{
display: grid; 
grid-template-columns: repeat(5, 1fr);
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: gray;
height: 100vh;
max-height: 20px;
}

nav > a
{
color: black;
text-decoration: none;
}

footer
{
display: grid; 
grid-template-columns: repeat(4, 1fr);
background-color:lightgray;
padding: 20px;
height: 100vh;
max-height: 200px;
}
.footer-socials
{
grid-column: 1 / 4;
grid-row: 1 / 13;
}
.footer-copyright
{
grid-column: 3 / 6;
grid-row: 1 / 13;
}
.footer-contact
{
grid-column: 10 / 12;
grid-row: 1 / 13;
}      
/* RÖR INTE DETTA */