

/* the whole body */

body{

    background-color: black;

    color: rgb(204, 190, 220);
    text-align: center;

    padding: 20px;
    margin: 5px auto;
}



*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;

    }

    

    .nav a{
        float: right;
        text-align: center;
        padding: 15px;
        text-emphasis: none;

      

    

    


}
/* the whole body */
header {
    background-color:#222;
    color: white;
    padding: 40px;
}

/* the project */



