

/* the whole body */

body{

    background-color: black;

    color: rgb(204, 190, 220);
    text-align: center;

    padding: 20px;
    margin: 5px auto;
}



*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;

    }

    /* Navbar */

    .nav a{
        float: right;
        padding: 15px;
        text-emphasis: none;

      

    

    


}
/* the header  */
header {
    background-color:#222;
    color: white;
    padding: 40px;
    text-align: center;
   
}


/* the project */



/* the sections */


.section{
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px solid white;
    width: 100%;
    height: 100px;
    
}

.section1{
    background-color: grey;
    border: 2px solid blue;
    
}

.section2{
    background-color: pink;
    color: black;
     }
    .section3{

        background-color: grey;
    }

    .img
{
    background-color: black;
    border: pink solid 3px;
    width: 200px;
    height: 200px;
}





