


body{
    box-sizing: border-box;

 background-color:gray;

 color: white; 
}
 /* Navbar */

.nav a{
float: right;
 padding: 10px;
 color: wheat;
font-size:large;

}

/* the header  */

.header1{
background-color:black;
   color: whitesmoke;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid rgba(170, 0, 255, 0.089);
    text-align: justify;
    text-align: center;
    
   
}


.nav2{
    float: left;
    padding: 10px;
    color: white;
    font-size: larger;
    
    }

    .aside{
        
        float: right;
        display: grid;
        grid-template-columns: auto;
        border-radius: 10px ;
        width: 40%; 
        color: wheat;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        float: right;
        text-align: center;
        margin: 2px;
        
        
        }
    
    
/*-----------------part one-----------------------------------*/
.project{
    display: grid;
    grid-template-columns: auto auto auto auto;  
    gap: 20+x;
    padding: 20px;
    box-shadow: 2px;
    width: 200px;
   text-align: center;
    
}
.project1{
    max-width: 100%;
    border-radius: 50px;
    border: 1px solid black;
    margin: 0 auto;
}
.project2{
    grid-template-columns: auto;
    max-width: 100%;
    border-radius: 50px;
    border: 1px solid black;
    margin: 0 auto;
    float: right;

}
.project3{
    
    max-width: 100%;
    border-radius: 50px;
    border: 1px solid black;
    flex-direction: column;
    
}
    
/*-------------part two----------*/

.portfolio{
 
   
    display: grid;
    grid-template-columns: auto auto auto;
    margin:0 auto;
    padding: 10px;
    gap:2%;
    width: 1200px;
    
    

}
.portfolio1{
    background-color: gray;
    border-radius:20px ;
    border: 1px solid black;
    overflow: hidden;
    text-align: center;
    color: black;
}
.portfolio1:hover{
    transform: scale(1.05);
    
}

.portfolio2{
    background-color: gray;

    border-radius:20px ;
    border: 1px solid black;
    overflow: hidden;
    text-align: center;
    color: black;  
}
    
.portfolio2:hover{
    transform: scale(1.05);

}
.portfolio3{

    background-color: gray;
    border-radius: 20px;
    border: 1px solid black;
    overflow: hidden;
    text-align: center;
    color: black;
   
}
.portfolio3:hover{
    transform: scale(1.05);
}
    
.porfolio4{
    display: grid ;
    border: 1px solid black;
    width:150px;
    height: 350px;
    overflow: hidden;
    
}
.portfolio4:hover{
    transform: scale(1.05);


}



/*----------------footer----------*/
.container{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}







